<!DOCTYPE html>

<html>
<head>

<body>
    <div>
        <div class="normal-wrapper">


            <div id="top-color-splash"></div>

            <ul id="navbar">
                <li><a href="file:///C:/Users/acer/Desktop/Trang%20ch%E1%BB%A7.html">Trang Chủ</a></li>
                <li><a href="file:///C:/Users/acer/Desktop/Buy.html">Tài Khoản</a></li>


                <li><a href="file:///C:/Users/acer/Desktop/Buy.html">Mua Sắm</a></li>

                <li><a href="file:///C:/Users/acer/Desktop/About.html">Về Chúng Tôi</a></li>

                <li><a href="file:///C:/Users/acer/Desktop/Contact.html" class="last-link">Liên Hệ</a></li>
            </ul>
            <img src="~/imgae/n.gif" alt="Logo Shop" style="width:48px;height:48px;"> <h1>No Name</h1>
        </div        </div>
        <div id="left">
            <div class="module">
                <p style="background-image: url(~/imgae/z.jpg);"></p>

                <h3> Danh Mục</h3>
                <a href="">Áo Nam</a>
                <a href="">Quần Nam </a>

                <a href="">Áo Khoác</a>
                <a href="">Phụ Kiện</a>
                <a href="">Giày Dép </a>
                <a href="">Khuyến Mãi</a>
            </div>
            <div class="clear">
            </div>

            <div class="module">
                <h3>Giải Trí</h3>
                <div class="ADS">
                    <img src=" ~/imgae/c.gif" alt="Logo Shop" style="width:231px;height:200px;">
                    <img src=" ~/imgae/q.gif" alt="Logo Shop" style="width:231px;height:210px;">
                </div>
            </div>
        </div><!--left-->

        <div class="slideshow">
            <img class="featured-image" src="~/imgae/d.jpg" />
        </div>

        <div class="clear"></div>

        <div id="right">
            <div id="product">
                <h3 class="header">Sản Phẩm Hot</h3>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 1</h3>
                    <img class="productimg" src="~/imgae/1.png" width="250">
                    <p class="productprice">209.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 2</h3>
                    <img class="productimg" src="~/imgae/2.png" width="250">
                    <p class="productprice">209.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 3</h3>
                    <img class="productimg" src="~/imgae/3.jpg" width="250">
                    <p class="productprice">209.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 4</h3>
                    <img class="productimg" src="~/imgae/4.jpg" width="250">
                    <p class="productprice">209.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 5</h3>
                    <img class="productimg" src="~/imgae/8.jpg" width="250">
                    <p class="productprice">209.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 6</h3>
                    <img class="productimg" src="~/imgae/5.jpg" width="250">
                    <p class="productprice">350.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 7</h3>
                    <img class="productimg" src="~/imgae/6.jpg" width="250">
                    <p class="productprice">350.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 8</h3>
                    <img class="productimg" src="~/imgae/7.jpg" width="250">
                    <p class="productprice">325.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
                <div class="Item">
                    <h3 class="productname">Sản phẩm 9</h3>
                    <img class="productimg" src="~/imgae/9.jpg" width="250">
                    <p class="productprice">300.000</p>
                    <a class="productdetail" href=""> Chi Tiết</a>
                    <a class="productbigimg" href=""> Ảnh Lớn</a>
                </div>
            </div>

        </div>
        <div class="thongtin">
            <div class="mau">
                <div class="money"><img src="~/imgae/f.png" width="35" height="35" alt="money"></div>
                <h4>THANH TOÁN & GIAO HÀNG</h4>
                <p>Miễn phí vận chuyển cho đơn hàng trên 499.000 VNĐ<br> - Giao hàng và thu tiền tận nơi <br> - Chuyển khoản và giao hàng <br> - Mua hàng tại shop</p>
            </div>
            <div class="mau">
                <div class="key"><img src="~/imgae/key.png" width="75" height="75" alt="car"></div>
                <h4>THẺ THÀNH VIÊN</h4>
                <p>Chế độ ưu đãi thành viên VIP: <br> - 5% cho thành viên Bạc <br> - 10% cho thành viên Vàng<br> - 15% cho thành viên Kim cương</p>
            </div>
            <div class="mau">
                <div class="hour"><img src="~/imgae/h.png" width="75" height="75" alt="plan"></div>
                <h4> GIỜ MỞ CỬA</h4> <p><strong>8h30 đến 22:00</strong><br> - Tất cả các ngày trong tuần<br> - Áp dụng cho tất cả các chi nhánh hệ thống cửa hàng NoName</p>
            </div>
            <div class="mau">
                <div class="tv"><img src="~/imgae/s.jpg" width="75" height="75" alt="plan"></div>
                <h4>Hỗ trợ 24/7</h4>
                <p>Gọi ngay cho chúng tôi khi bạn có thắc mắc<br> - 0898.402.730</p>
            </div>
        </div>

        <div class="clear"></div>

        <footer>
            <div class="hay">
                <div class="chan">
                    <a href="file:///C:/Users/acer/Desktop/ShopNoName.vn.html"><img src="~/imgae/n.gif" alt="Logo Icon" style="width:100px;height:100px;"></a>
                    <div class="clear"></div>
                    <ul class="list-footer">
                        <li> <a href="#######" title="gioi thieu">Giới thiệu</a> </li>
                        <li> <a href="######" title="lien he">Liên hệ</a> </li>
                        <li> <a href="######" title="tuyen dung">Tuyển dụng</a></li>
                        <li> <a href="#####" title="tin tuc 4MEN">Tin tức</a> </li>
                    </ul>
                    <ul class="list-contact">
                        <i class="mail"></i> Email:
                        <a href="mailto:lantiszero2@gmail.com" rel="nofollow" title="Shop EMAIL">lantiszero2@gmail.com</a>
                        <br>
                        <i class="fa fa-phone"></i> Hotline:
                        <a href="tel:0898402730" rel="nofollow" title="Shop HOTLINE" track="Phone-Footer-0898.402.730">0898.420.730</a>
                    </ul>

                </div>
            </div>

            <div class="phone">
                <br> <form class="newsletter" action="#" method="post">
                    <label> <h3>Đăng ký nhận email khuyến mãi</h3> <input type="text" placeholder="Email của bạn" name="email" /> </label>
                    <button type="submit">Đăng ký</button>
                </form>
            </div>

            <div class="hotro">

                <h4>HỖ TRỢ KHÁCH HÀNG</h4>

                <li> <a href="##" title="huong dan dat hang">Hướng dẫn đặt hàng</a> </li>
                <li> <a href="#" title="huong dan chon size">Hướng dẫn chọn size</a> </li>
                <li> <a href="#" title="cau hoi thuong gap">Câu hỏi thường gặp</a> </li>
                <li> <a href="#" title="chinh sach khach vip">Chính sách khách VIP</a> </li>
                <li> <a href="##" title="chinh sach giao hang">Thanh toán - Giao hàng</a> </li>
                <li> <a href="###" title="chinh sach doi hang">Chính sách đổi hàng</a> </li>
                <li> <a href="###" title="chinh sach bao mat">Chính sách bảo mật</a> </li>
                <li> <a href="###" title="chinh sach cookie">Chính sách cookie</a> </li>
            </div>
            <div class="foot">
                <h3> Created by Thái Kuro</h3>
            </div>
    </div>
    </footer>
    </div>
</body>
</html>
